<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
    <h1>Base</h1>
        <div>
            <table>
                <thead>
                <tr>
                    <th style="width: 150px;">Réference</th>
                    <th style="width: 200px;">Prénom</th>
                    <th style="width: 120px">desc</th>
                </tr>
                </thead>
                <tr th:each="msg : ${listAll}">
                    <td th:text="${msg.ref}">Référence</td>
                    <td th:text="${msg.name}">Prénom</td>
                    <td th:text="${msg.desc}">Desc</td>
                </tr>
            </table>
        </div>

</body>
</html>